.footerProfile {
  position: fixed;
  bottom: 10px;
  left: 10px;
  border: 4px solid white;
  border-radius: 50%;
  width: 80px;
  z-index: 2000;
}

.scribble {
  font-family: 'Caveat', cursive; 
}

.homeScribble {
  display: inline-block;
  margin-top: 80px;
  transform: translateX(140px) rotate(-15deg);
  color: white;
  font-size: 30px;
  line-height: 1.2;
  height: 0;
  margin-bottom: 250px;
}

.far {
  width: 32px;
  transform: rotate(65deg);
}

.perspectiveContainer {
  perspective: 800px;
}

.looker {
  box-shadow: 0 0 140px 10px rgba(0,0,0,.5);
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden; /* Try removing this to see how the sheen works! */
  --sheenX: 0; /* Set these with JavaScript */
  --sheenY: 0;
}
.looker::after {
  content: "";
  position: absolute;
  top: -400px;
  right: -400px;
  bottom: -400px;
  left: -400px;
  background: linear-gradient(217deg, rgba(255,255,255,0), rgba(255,255,255,0) 35%, rgba(255,255,255,0.45) 45%, rgba(255,255,255,.45) 50%, rgba(255,255,255,0) 60%, rgba(255,255,255,0) 100%);
  transform: translateX(var(--sheenX)) translateY(var(--sheenY));
}